[submodule "lib/SDL2-CS"]
	path = lib/SDL2-CS
	url = https://github.com/flibitijibibo/SDL2-CS.git
[submodule "GnuplotCSharp"]
	path = lib/GnuplotCSharp
	url = https://github.com/AwokeKnowing/GnuplotCSharp.git
[submodule "lib/GnuplotCSharp"]
	url = https://github.com/cornelius-sevald/GnuplotCSharp.git
[submodule "lib/Gnuplot-Windows"]
	path = lib/Gnuplot-Windows
	url = https://github.com/cornelius-sevald/Gnuplot-Windows.git
